main{
    display: flex;
    flex-direction: column;
}

.satellite-map{
    /* display: block; */
    margin: 50px 0 0 50px;
}

.bubbles{
    stroke-width: 2px;
    stroke: white;
}

.bubbles:hover{
    stroke: black;
}

.tooltip{
}

.grid line{
    stroke: lightgray;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

